@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Orbitron&display=swap');

.about-container {
  background-image: url(https://images.alphacoders.com/248/248883.jpg);
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 24px;
  text-shadow: 0 0 1px #050505, 0 0 2px #040404, 0 0 3px #030303,0 0 4px #050505, 0 0 5px #040404, 0 0 6px #030303, 0 0 7px #050505, 0 0 8px #040404, 0 0 9px #030303,0 0 10px #050505, 0 0 11px #040404, 0 0 12px #030303;
  padding-left: 5%;
  flex-wrap: wrap;
}

.about-section {
  grid-column: 1 / 2;
  width: 100%;
  text-align: center;
}

.profile-section {
  grid-column: 2 / 2; /* Update the column span to 1 */
  border-color: black;
  width: 100%;
  text-align:start;
}

.profile-picture {
  position: relative;
  object-fit: cover;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: -1px -1px 40px black,
  -1px -1px 40px black,
  -1px -1px 50px black,
  -1px -1px 60px black,
  -1px -1px 65px black,
  -1px -1px 70px darkgrey,
  -1px -1px 75px darkgrey,
  -1px -1px 80px white;
  margin-right: 240px;
  padding: 10%;
}

@media screen and (max-width: 1200px) {
  .about-container {
    flex-wrap:wrap-reverse;
    display: flex;
    justify-content:center;
  }

  .profile-section {
    flex-wrap: wrap;
    display: block;
    grid-column: 2 / 2;
    width: auto; 
    margin-bottom: 20px;
    z-index: 0; 
  }

  .about-section {
    flex-wrap:wrap;
    grid-column: 1 / 2;
    z-index: 1;
    width: 100%;
  }

  .profile-picture {
    flex-wrap: wrap;
    display: block;
    width: 100%; 
    height: auto; 
    max-height: 30vh; 
    margin: 0; 
    padding: 0; 
  }
}

p {
  width: 400px;
  height: auto;
  font: 200 .75rem Orbitron, sans-serif;
}




