  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Orbitron&display=swap');



ul {
  display: flex;
  border-style: groove;
  border-radius: 2px;
  height: 100vh;
  justify-content: center;
  align-items:  center;
  text-align: center;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  background-image: url(src/wallpaperflare.com_wallpaper.jpg);
  // align-items: start;
  list-style-type: none;

  li {
    padding: 6px 0;
    opacity: 100%;

    a {
      box-shadow: -1px -1px 10px firebrick;
      color: white;
      border-radius: 10px;
      background: radial-gradient(white, black);
      background-blend-mode: luminosity;
      position: relative;
      display: block;
      padding: auto ;
      font: 700 3rem Orbitron, sans-serif;
      margin-top: 1em;
      text-decoration: none;
      text-transform: uppercase;
      background-clip: text;

      &:hover {
        transition: .85s ease-in-out;
        background-size: 100%; 
        font-size: 60px;
        background-image: url(https://m.media-amazon.com/images/I/81cdIur6z9L._AC_SL1500_.jpg);
        border-radius: 10px;
        background-position: 100% 75%;
        z-index: 1;
        text-shadow: 0 0 10px #f1f5f6, 0 0 20px #969898, 0 0 30px #4d0501;
        padding: .05em .05em .05em 0em
                
      }
    }
  }
}