html {
  scroll-behavior: smooth;
  /* background: linear-gradient( darkgrey, rgb(64, 128, 150), rgb(79, 78, 78)); */
  background-size: cover;
  background-repeat: no-repeat;
  animation: colorChange 10s infinite;
}

@keyframes colorChange {
  0% {
    background-image: black;
  }
  50% {
    background-color: lightblue;
  }
  100% {
    background-image: black
  }
}