@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Orbitron&display=swap');


 form {
  color: black;
  text-shadow: 0 0 1px white,
  0 0 2px white,
  0 0 3px white,
  0 0 4px cyan,
  0 0 5px cyan;
  display: flex;
  border-radius: 2px;
  height: 100vh;
  justify-content: center;
  align-items:  center;
  text-align: center;
  flex-direction: column;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/886/929/249/neon-welcome-neon-hd-wallpaper-preview.jpg);
  background-repeat: no-repeat;
background-position: center;
background-size: cover;

  button {
    box-shadow: -1px -1px 20px black;
      color: white;
      border-radius: 10px;
      background: linear-gradient(to right, rgb(128, 128, 128, .5), rgb(0, 0, 0), rgb(128, 128, 128, .5));
      // background-blend-mode: luminosity;
      position: relative;
      display: block;
      text-justify: auto;
      padding: auto ;
      font: 700 3rem Orbitron, sans-serif;
      margin-top: 1em;
      text-decoration: none;
      text-transform: uppercase;
      background-clip: text;

      &:hover {
        transition: .85s ease-in-out;
        background-size: auto; 
        font-size: 48px;
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px cyan,
        0 0 4px cyan,
        0 0 5px cyan;
        padding: .05em .05em .05em 0em;
        box-shadow: 0 0 1px white,
        0 0 2px white,
        0 0 3px cyan,
        0 0 4px cyan,
        0 0 5px cyan ;         
      }
  }

  li, div {
    padding: 6px 0;
    opacity: 100%;

    input {
      box-shadow: 0 0 2px black,
      0 0 4px black,
      0 0 6px black,
      0 0 8px black,
      0 0 10px black;
      color: white;
      border-radius: 10px;
      background: linear-gradient(to right, rgb(128, 128, 128, .5), rgb(0, 0, 0), rgb(128, 128, 128, .5));
      background-blend-mode: luminosity;
      position: relative;
      display: block;
      padding: auto ;
      font: 700 3rem Orbitron, sans-serif;
      margin-top: 1em;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        transition: .85s ease-in-out;
        background-size: 100%; 
        font-size: auto;
        border-radius: 10px;
        background-position: 100% 75%;
        z-index: 1;
        color:lightblue;
        text-shadow: 0 0 1px white,
        0 0 2px white,
        0 0 3px white,
        0 0 4px cyan,
        0 0 5px cyan;
        box-shadow: 0 0 1px white,
        0 0 2px white,
        0 0 3px white,
        0 0 4px cyan,
        0 0 5px cyan;
        padding: .05em .05em .05em 0em;   
      }
    }
  }
}