@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#signup {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

#signup ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

#signup ul li {
  color: red;
}

#signup form {
  display: flex;
  flex-direction: column;
}

#signup input,
#signup select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#signup .genre {
  position: relative;
}

#signup .genre select {
  width: 100%;
}

#signup .genre div {
  display: flex;
  flex-wrap: wrap;
}

#signup .genre div p {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

#signup #button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

#signup #button:hover {
  background-color: #0056b3;
}

#signup label {
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
}

#signup input[type="radio"] {
  margin-right: 3px;
}

#signup input[type="file"] {
  margin-top: 5px;
}

#signup ::-webkit-file-upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

#signup ::-webkit-file-upload-button:hover {
  background-color: #0056b3;
}

#signup input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

#signup input[type="file"]::before {
  content: 'Select Photo';
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

#signup input[type="file"]:hover::before {
  background-color: #0056b3;
}
